<style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>


<body>

    <div class="container-narrow">



      <div class="jumbotron">
        <h1>Super awesome project management!</h1>
        <p class="lead">Manage your software development projects on Scrum. Use the tools provided to control sprints, assign people and classify user stories. This app will allow you to be aware of your proyect's state at any time.</p>
        <a class="btn btn-large btn-success" href="<%= signup_path %>">Sign up today</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Projects</h4>
          <p>Manage your projects. No matter if you're a scrum master or a team developer. </p>

          <h4>Roles</h4>
          <p>Take part in different projects. Your role will allow you to access different features.</p>

          <h4>Sprints</h4>
          <p>Create new sprints to split up the project in several iterations.</p>
        </div>

        <div class="span6">
          <h4>User stories</h4>
          <p>Add user stories to your projects. Arrange them into a Kanban board. See what's going on.</p>

          <h4>Comments</h4>
          <p>Make comments to give feedback to the other developers. </p>

          <h4>Assign user stories</h4>
          <p>Tell to your team what are the user stories they're going to be responsible for.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Kancrumer 2014</p>
      </div>

    </div> 

  </body>
  