<div class="span11 well">
<h1>Editing project</h1>
</div>
<div class="span11 well">
<div class="btn-group btn-group-justified pull-right">  
<%= link_to '<i class="icon-eye-open"></i> Show Project'.html_safe, @project, class: "btn btn-primary" %>
</div>
<%= render 'form' %>
</div>